body
{
    display: flex;
    flex-direction: column;
    height:100%
}
#diary
{
    /*border-radius:2px;
    border:1px solid lightgrey;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size:2em;
    color:slategrey;
    flex:1;
}
#noteList
{
    display: flex;
    flex-direction: column;
    flex:9;
}
    .note
    {
        display: flex;
        flex-wrap: wrap;
        position:relative;
        cursor: pointer;
        /*border-bottom:1px solid lightgrey;*/
    }
        /*.note::before
        {
            content:"";
            position:absolute;
            border-top:1px solid lightgrey;
            border-bottom:1px solid lightgrey;
            width:100%;
            height:100%;
            transform: scale(0, 1);
            transition: transform 0.4s;
            pointer-events: none;
        }
        .note:hover::before
        {
            transform: scale(1, 1);
            transition: transform 0.4s;
        }*/
    .noteHandle
    {
        display:none;
        text-align: center;
        border-radius:0.4em;
        width:0.4em;
        height:0.4em;
        border:1px solid slategrey;
        /*Отступ слева*/
        margin-left:8px;
        /*Автоматическое выравнивание по высоте*/
        margin-top:auto;
        margin-bottom:auto;
        /*Отступ для последующей записи*/
        margin-right:8px;
        transition:border-width 0.2s, border-color 0.2s;
    }
        .noteHandle:hover
        {
            border-width: 0.2em;
            border-color: deepskyblue;
        }
        .noteHandle:hover 
        {
            border-color: deepskyblue;
        }
    .noteBody
    {
        cursor:inherit;
        display:flex;
        flex-direction: column;
        position:relative;
        flex:1;
    }
        .noteBody:hover::before
        {
            content:"";
            position:absolute;
            width:0.5%;
            height:100%;
            border-left:2px solid slategrey;
            border-top:2px solid slategrey;
            border-bottom:2px solid slategrey;
        }
        .noteTitle
        {
            text-align: left;
            margin-left:8px;
        }
            .noteTitle:hover
            {
                color:deepskyblue;
            }
            .noteTitle:hover
            {
                color:deepskyblue;
            }
        .noteDesc
        {
            display:none;
            max-height: 0;
            overflow: hidden;
            margin-left:8px;
            /*border:1px solid black;*/
            /*animation:yScaleUp 1s forwards;*/
        }
        .noteTagField
        {
            display:none;
            max-height: 0;
            overflow: hidden;
            margin-left:8px;
            /*border:1px solid black;*/
            /*animation:yScaleUp 1s forwards;*/
        }
    /*.noteUnderline, .noteOverline
    {
        border-left:0px;
        border-right:0px;
        border-top:0px;
        border-bottom:1px solid lightgrey;
        flex:100%;
        transform: scale(0.0, 1.0);
        margin-top:0px;
        margin-bottom:0px;
    }*/
        /*note:hove .noteUnderline
        {
            border-left:0px;
            border-right:0px;
            border-top:0px;
            border-bottom:1px solid lightgrey;
            flex:100%;
            transform: scale(0.0, 1.0);
        }*/

/*
======================================
Footer part
======================================
*/
#diaryActionBar
{
    display: flex;
    justify-content: space-around;
    flex:1;
    /*align-self: flex-end;*/
}
    .diaryActionButton
    {
        border-radius:2px;
        border:1px solid slategrey;
        font-size:0.75em;
        text-align:center;
        margin:auto;
        cursor:pointer;
        padding:4px;
    }
        .diaryActionButton:hover
        {
            color:white;
            /*background-color:slategrey;*/
            border-color:deepskyblue;
            color:deepskyblue;
        }